@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
}


@theme {
  --breakpoint-9xl: 1440px;
}

* {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
  /* border: 1px solid red; */
}

